footer {
  background-color: #1b1b1b; /* Fondo oscuro */
  color: #c5c6c7; /* Texto gris claro */
  display: flex; /* Utiliza flexbox para una disposición horizontal */
  justify-content: space-around; /* Espaciado más equilibrado entre los elementos */
  align-items: center; /* Alinear verticalmente los elementos */
  padding: 16px 30px; /* Espaciado alrededor */
  font-size: 1rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.7); /* Sombra para darle relieve */
  border-top: 1px solid #444; /* Límite superior con borde sutil */
 

}

footer a {
  color:  rgba(85, 223, 10, 0.7);
  text-decoration: none;
  transition: color 0.3s ease; /* Efecto de transición suave al pasar el mouse */
}

footer a:hover {
  color: #f4f4f8; /* Cambia a un tono más claro de dorado al hacer hover */
}

footer .social-icons {
  display: flex;
  gap: 10px; /* Espacio reducido entre íconos sociales */
}

footer .social-icons a {
  font-size: 1.5rem;
  color: #c5c6c7; /* Color gris claro */
  transition: color 0.3s ease;
}

footer .social-icons a:hover {
  color: #d4af37; /* Cambia a dorado al hacer hover */
}

footer p {
  margin: 0; /* Eliminar márgenes para una mejor alineación */
  font-size: 0.9rem;
  color: #8a8a8a; /* Color ligeramente más oscuro para el texto secundario */
}

/* Estilos para el texto en el centro del footer (opcional) */
footer .footer-text {
  text-align: center; /* Centrar texto, si es necesario */
  flex: 1; /* Permitir que este elemento ocupe el espacio disponible */
}
