/* === Header === */
.header-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://img.freepik.com/vector-premium/fondo-oscuro-abstracto-ceros-tonos-gris_444390-3371.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0%;

}

.header-title {
  font-size: 2.1rem;
  font-weight: bold;
  color: #f6f2d160; /* Título del header */
}

/* Barra de navegación */
.barraNavegacion {
  display: flex;
  gap: 40px; /* Espacio entre enlaces */
}

.barraNavegacion a {
  color: rgba(85, 223, 10, 0.7);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.barraNavegacion a:hover {
  color: #fff; /* Efecto hover */
}
