.section {
  background: linear-gradient(135deg, rgba(21, 18, 18, 0.85), rgba(85, 223, 10, 0.7));
  padding: 40px; /* Aumentar padding para más espacio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Ajustado para más equilibrio */
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out; /* Animación de entrada */
}

.section-title {
  font-size: 3rem; /* Tamaño de fuente más grande */
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 50px; /* Reducir margen para mejor proporción */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7); /* Sombra de texto más suave */
  background-color: rgba(50, 57, 46, 0.4); /* Fondo más claro */
  padding: 15px 30px; /* Más espacio alrededor del título */
  border-radius: 12px; /* Bordes más redondeados */
}

.idioma-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px; /* Espacio más grande entre elementos */
  max-width: 70vw;
  width: 80%;
  margin: 30px auto;
  justify-items: center;
}

.idioma {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease; /* Efecto de flotación */
  border: 2px solid rgba(85, 223, 10, 0.7); /* Borde decorativo */
  padding: 10px; /* Añadir espacio interno */
  border-radius: 12px;
}


.barra-progreso {
  background-color: #1e1e1e;
  width: 75%;
  height: 30px; /* Aumentar el tamaño de la barra */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Sombra más notable */
}

.progreso {
  background: linear-gradient(135deg, rgba(85, 223, 10, 0.7), rgba(85, 223, 10, 0.5));
  height: 100%;
  text-align: center;
  color: white;
  line-height: 30px; /* Ajustar línea para mayor altura */
  border-radius: 15px 0 0 15px;
  transition: width 0.5s ease;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.5); /* Efecto de profundidad interior */
}

.idioma h3 {
  color: white;
  font-size: 1.75rem; /* Fuente más grande */
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.6); /* Sombra de texto más suave */
  margin-right: 30px; /* Más espacio entre el texto y la barra */
}


